<h1>都道府県/市区町村の不動産会社</h1>
<% @offices.each do |office| %>
  <!-- <%= render 'shared/company_card', office: office %> -->
  <% end %>
  <% @cities_without_target_city.each do |cities| %>
    <%= cities.name %>
  <% end %>