<h1 class="text-center">お問い合わせありがとうございました</h1>
<p class="text-center">査定依頼ありがとうございます。不動産会社からのご連絡をお待ちください。</p>
<div style="width: 200px" class='mx-auto mt-5'>
    <div class="my-3">
        <%= link_to 'エリアページに戻る', "prefectures/index", class: 'btn btn-secondary form-control' %>
    </div>
    <div class="my-3">
        <%= link_to '企業ページに戻る', "companys/index", class: 'btn btn-secondary form-control' %>
    </div>
    <div class="my-3">
        <%= link_to '口コミページに戻る', "reviews/index", class: 'btn btn-secondary form-control' %>
    </div>
    <div class="my-3">
        <%= link_to '戻る', "/", class: 'btn btn-secondary form-control' %>
    </div>
</div>